<header class="header position-relative">
  <nav class="nav navbar navbar-expand-lg border-primary border-bottom border-2 border-lg-3">
    <div class="container gap-lg-12">
      <a href="index.html" class="navbar-brand d-flex gap-4 align-items-center m-0">
            <h1 class="img-logo d-flex align-items-center gap-4">
                <img src="../assets/images/logo.png" class="img-fluid border border-primary border-1" alt="7TAO"></img>
            </h1>
            <div class="d-none d-lg-flex align-items-center">
                <h2 class="d-inline fs-8 me-1">7TAO</h2>
                <h3 class="d-inline fs-4 fw-bold">活動訂票網</h3>
            </div>
      </a>
      <form action="" class="form-search flex-grow-1 d-flex">
          <input type="search" name="" id="dataList" class="form-control border border-primary border-2" list="datalistOptions" placeholder="探索活動" aria-label="Search">
          <button type="button" class="btn btn-primary border-0 btn-search" type="submit">
            <i class="icofont-search-1 text-secondary"></i>
          </button>
      </form>
      <button class="navbar-toggler border-primary rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav d-none d-lg-flex my-4">
        <li>
          <a class="nav-link fs-18px active" aria-current="page" data-bs-toggle="modal" href="#modal-join">
            <i class="icofont-ui-file me-1"></i>REGISTER
          </a>
        </li>
        <li>
          <a class="nav-link fs-18px active" href="logi.html">
            <i class="icofont-ui-user me-1"></i>
            LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- collapse(壓縮成漢堡) -->
  <div class="position-absolute w-100 z-1 top-100 start-0 d-lg-none bg-fifth">
    <div class="collapse navbar-collapse justify-content-end border-bottom border-2" id="navbarNavAltMarkup">
      <div class="container">
        <ul class="navbar-nav my-4">
          <li>
            <a class="nav-link active" aria-current="page" data-bs-toggle="modal" href="#modal-join">
              <i class="icofont-ui-file me-1"></i>REGISTER
            </a>
          </li>
          <li>
            <a class="nav-link active" href="logi.html">
              <i class="icofont-ui-user me-1"></i>LOGIN
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Model -->
  <div class="modal fade" id="modal-join" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-3 position-relative px-lg-6">
          <h5 class="modal-title position-absolute top-50 start-50 translate-middle text-nowrap fs-6 fw-bold noto-tc-serif">立刻成為7TAO會員</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body noto-tc-serif text-center py-8 py-lg-12">
          <p class="pb-6">立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>您也可以先報名活動，日後再註冊帳號，<br>系統會在認證您的Email後，協助您找回舊的訂單。</p>
          <a href="#" class="btn btn-primary fs-5 fw-bold py-2 px-8">立即成為會員</a>
        </div>
      </div>
    </div>
  </div>
</header>



