<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="mt-4">
      <div class="container">
        <div id="carousel" class="carousel slide mb-8" data-bs-ride="carousel">
          <div id="" class="carousel-inner">
            <div class="carousel-item active slide-bg bg-p-center bg-s-cover bg-r-no text-white">
              <h4 class="slide-date position-absolute top-0 start-0 mt-4 ms-10 fs-8">19 MAY 2023</h4>
              <div class="carousel-caption bottom-0 mb-1">
                <h3 class="fs-md fw-bold">隔牆有耳-沒有草東的派對</h3>
                <h5 class="d-none d-lg-block">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>      
        </div>
        <div class="cate mb-8">
          <ul class=" row g-2 row-cols-3 g-lg-6 row-cols-lg-6 p-0">
            <li class="col">
              <a href="#" class="cate-box d-flex flex-column justify-content-center border border-2 text-center fw-bold">
                <img src="../assets/images/cate/cate01.svg" alt="" class="cate-img img-fluid mx-auto d-block mb-2">演出
              </a>
            </li>
            <li class="col">
              <a href="#" class="cate-box d-flex flex-column justify-content-center border border-2 text-center fw-bold">
                <img src="../assets/images/cate/cate02.svg" alt="" class="cate-img img-fluid mx-auto d-block mb-2">聯誼
              </a>
            </li>
            <li class="col">
              <a href="#" class="cate-box d-flex flex-column justify-content-center border border-2 text-center fw-bold">
                <img src="../assets/images/cate/cate03.svg" alt="" class="cate-img img-fluid mx-auto d-block mb-2">展覽
              </a>
            </li>
            <li class="col">
              <a href="#" class="cate-box d-flex flex-column justify-content-center border border-2 text-center fw-bold">
                <img src="../assets/images/cate/cate04.svg" alt="" class="cate-img img-fluid mx-auto d-block mb-2">美食
              </a>
            </li>
            <li class="col">
              <a href="#" class="cate-box d-flex flex-column justify-content-center border border-2 text-center fw-bold">
                <img src="../assets/images/cate/cate05.svg" alt="" class="cate-img img-fluid mx-auto d-block mb-2">戶外
              </a>
            </li>
            <li class="col">
              <a href="./activities.html" class="cate-box d-flex justify-content-center align-items-center border border-2 text-center fs-6 fw-bold text-secondary bg-primary">
                <span class="">探索<br>更多</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="recent mb-8">
          <div class="list-title d-flex justify-content-between align-items-center px-3 py-4 border border-2 mb-6">
            <p class="fs-6">RECENT</p>
            <p class="fw-bold">近期活動</p>
          </div>
          <div class="card-group">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-6">
              <div class="col">
                <div class="card border-0">
                  <div class="card-header px-0 pt-0 border-bottom border-3">
                    <h4 class="fs-8">19 MAY 2023</h4>
                  </div>
                  <div class="card-body px-0">
                    <img src="../assets/images/event/01.jpg" alt="邪典電影派對——房間" class="img-fluid object-fit-cover card-img-top d-block card-imgBox mb-2">
                    <h5 class="card-title fw-bold fs-md">邪典電影派對——房間</h5>
                    <p class="card-text text-truncate">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都</p>
                  </div>
                  <div class="card-footer d-flex justify-content-between px-0 border-top border-bottom border-2 fw-bold">
                    <div class="d-flex gap-1">
                      <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler">
                      <span class="align-middle">社群活動</span>
                    </div>
                    <a href="">開賣中<i class="icofont-double-right ms-1"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0">
                  <div class="card-header px-0 pt-0 border-bottom border-3">
                    <h4 class="fs-8">23 MAY 2023</h4>
                  </div>
                  <div class="card-body px-0">
                    <img src="../assets/images/event/02.jpg" alt="怪舞俱樂部" class="img-fluid object-fit-cover card-img-top d-block card-imgBox mb-2">
                    <h5 class="card-title fw-bold fs-md">怪舞俱樂部</h5>
                    <p class="card-text text-truncate">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的</p>
                  </div>
                  <div class="card-footer d-flex justify-content-between px-0 border-top border-bottom border-2 fw-bold">
                    <div class="d-flex gap-1">
                      <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler">
                      <span class="align-middle">演出</span>
                    </div>
                    <a href="">開賣中<i class="icofont-double-right ms-1"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0">
                  <div class="card-header px-0 pt-0 border-bottom border-3">
                    <h4 class="fs-8">23 MAY 2023</h4>
                  </div>
                  <div class="card-body px-0">
                    <img src="../assets/images/event/03.jpg" alt="哈利波特馬拉松" class="img-fluid object-fit-cover card-img-top d-block card-imgBox mb-2">
                    <h5 class="card-title fw-bold fs-md">哈利波特馬拉松</h5>
                    <p class="card-text text-truncate">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖</p>
                  </div>
                  <div class="card-footer d-flex justify-content-between px-0 border-top border-bottom border-2 fw-bold">
                    <div class="d-flex gap-1">
                      <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler">
                      <span class="align-middle">聯誼</span>
                    </div>
                    <a href="">開賣中<i class="icofont-double-right ms-1"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0">
                  <div class="card-header px-0 pt-0 border-bottom border-3">
                    <h4 class="fs-8">23 MAY 2023</h4>
                  </div>
                  <div class="card-body px-0">
                    <img src="../assets/images/event/04.jpg" alt="皮卡丘排球大賽" class="img-fluid object-fit-cover card-img-top d-block card-imgBox mb-2">
                    <h5 class="card-title fw-bold fs-md">皮卡丘排球大賽</h5>
                    <p class="card-text text-truncate">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己</p>
                  </div>
                  <div class="card-footer d-flex justify-content-between px-0 border-top border-bottom border-2 fw-bold">
                    <div class="d-flex gap-1">
                      <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler">
                      <span class="align-middle">遊戲競賽</span>
                    </div>
                    <a href="">開賣中<i class="icofont-double-right ms-1"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0">
                  <div class="card-header px-0 pt-0 border-bottom border-3">
                    <h4 class="fs-8">25 JUNE 2023</h4>
                  </div>
                  <div class="card-body px-0">
                    <img src="../assets/images/event/05.jpg" alt="酒精路跑" class="img-fluid object-fit-cover card-img-top d-block card-imgBox mb-2">
                    <h5 class="card-title fw-bold fs-md">酒精路跑</h5>
                    <p class="card-text text-truncate">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
                  </div>
                  <div class="card-footer d-flex justify-content-between px-0 border-top border-bottom border-2 fw-bold">
                    <div class="d-flex gap-1">
                      <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler">
                      <span class="align-middle">社群活動</span>
                    </div>
                    <a href="">開賣中<i class="icofont-double-right ms-1"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0">
                  <div class="card-header px-0 pt-0 border-bottom border-3">
                    <h4 class="fs-8">9 JULY 2023</h4>
                  </div>
                  <div class="card-body px-0">
                    <img src="../assets/images/event/06.jpg" alt="展覽——我的房間" class="img-fluid object-fit-cover card-img-top d-block card-imgBox mb-2">
                    <h5 class="card-title fw-bold fs-md">展覽——我的房間</h5>
                    <p class="card-text text-truncate">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
                  </div>
                  <div class="card-footer d-flex justify-content-between px-0 border-top border-bottom border-2 fw-bold">
                    <div class="d-flex gap-1">
                      <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler">
                      <span class="align-middle">展覽</span>
                    </div>
                    <a href="">開賣中<i class="icofont-double-right ms-1"></i></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="online">
          <div class="d-flex justify-content-between align-items-center px-3 py-4 border border-2 mb-6 mb-lg-8">
            <p class="fs-6">ONLINE</p>
            <p class="fw-bold fs-md">線上活動</p>
          </div>
          <div class="row row-cols-1 row-cols-lg-12 g-lg-6">
            <img src="../assets/images/event/online.jpg" alt="chatGPT" class="col-lg-7 img-fluid object-fit-cover online-imgBox mb-3">
            <div class="col-lg-5">
              <p class="fw-bold fs-md fw-bold mb-2">切特居批踢</p>
              <div class="d-flex gap-1 mb-3">
                <a href="#" role="button" class="tag btn btn-outline-primary position-relative fs-sm fw-bold px-4 px-lg-6 py-1">競賽
                </a>
                <a href="#" role="button" class="tag btn btn-outline-primary position-relative fs-sm fw-bold px-4 px-lg-6 py-1">科技</a>
                <a href="#" role="button" class="tag btn btn-outline-primary position-relative fs-sm fw-bold px-4 px-lg-6 py-1">有趣</a>
              </div>
              <p class="mb-3">最近網路上很流行的AI程式ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br>這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br>該讓其他人知道自己使用ChatGPT的姿勢才是最特別的那個了！</p>
              <a href="#" role="button" class="btn btn-primary d-block w-100 fw-bold py-4 mb-8">查看活動詳情
                <i class="icofont-double-right ms-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="marquee position-relative overflow-hidden bg-primary mb-12">
        <ul class="d-flex position-absolute top-50 translate-middle text-nowrap text-secondary fw-bold">
          <li class="">活動集錦・ALBUMS・</li>
          <li class="">活動集錦・ALBUMS・</li>
          <li class="">活動集錦・ALBUMS・</li>
          <li class="">活動集錦・ALBUMS・</li>
        </ul>
      </div>
      <div class="container">
        <ul class="album row row-cols-lg-4 justify-content-center p-0 mb-11 mb-lg-15 gy-10">
          <li class="col-10 album-rotate">
            <div class="card position-relative border border-2">
              <div class="album-rotate-tag">
                <div class="album-tag position-absolute start-50 translate-middle bg-white d-flex justify-content-center align-items-center">
                  <h4 class=" fs-4 fw-bold text-center">社群活動</h4>
                </div>
              </div>
              <a href=""><img src="../assets/images/album/01.jpg" alt="" class="card-img-top album-imgBox object-fit-cover p-3">
                <div class="card-body pt-0">
                  <h5 class="card-title fs-md fw-bold pb-2">無聲派對-閉閉嘴dancing</h5>
                </div>
              </a>
            </div>
          </li>
          <li class="col-10 album-rotate">
            <div class="card position-relative border border-2">
              <div class="album-rotate-tag">
                <div class="album-tag position-absolute start-50 translate-middle bg-white d-flex justify-content-center align-items-center">
                  <h4 class=" fs-4 fw-bold text-center">藝文活動</h4>
                </div>
              </div>
              <a href=""><img src="../assets/images/album/02.jpg" alt="" class="card-img-top album-imgBox object-fit-cover p-3">
                <div class="card-body  pt-0">
                  <h5 class="card-title fs-md fw-bold pb-2">拯救老店大作戰</h5>
                </div>
              </a>
            </div>
          </li>
          <li class="col-10 album-rotate">
            <div class="card position-relative border border-2">
              <div class="album-rotate-tag">
                <div class="album-tag position-absolute start-50 translate-middle bg-white d-flex justify-content-center align-items-center">
                  <h4 class=" fs-4 fw-bold text-center">自我覺察</h4>
                </div>
              </div>
              <a href=""><img src="../assets/images/album/03.jpg" alt="" class="card-img-top album-imgBox object-fit-cover p-3">
                <div class="card-body pt-0">
                  <h5 class="card-title fs-md fw-bold pb-2">內觀修行-部落篇</h5>
                </div>
              </a>
            </div>
          </li>
          <li class="col-10 album-rotate">
            <div class="card position-relative border border-2">
              <div class="album-rotate-tag">
                <div class="album-tag position-absolute start-50 translate-middle bg-white d-flex justify-content-center align-items-center">
                  <h4 class=" fs-4 fw-bold text-center">聯誼活動</h4>
                </div>
              </div>
              <a href=""><img src="../assets/images/album/04.jpg" alt="" class="card-img-top album-imgBox object-fit-cover p-3">
                <div class="card-body pt-0">
                  <h5 class="card-title fs-md fw-bold pb-2">賞櫻野餐</h5>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="marquee position-relative overflow-hidden bg-primary mb-12">
        <ul class="d-flex position-absolute top-50 translate-middle text-nowrap text-secondary fw-bold">
          <li class="">活動集錦・ALBUMS・</li>
          <li class="">活動集錦・ALBUMS・</li>
          <li class="">活動集錦・ALBUMS・</li>
          <li class="">活動集錦・ALBUMS・</li>
        </ul>
      </div>
      <div class="container mb-12">
        <div class="card-group">
          <div class="card border border-2">
            <div class="card-header border-bottom border-2 pt-4">
              <h5 class="card-title fw-bold fs-6">#FOLLOW US</h5>
            </div>
            <div class="card-body">
              <p class="card-text mb-4">想第一時間獲得新奇有趣的活動資訊？<br>
                追蹤我們的社群吧！<br>
                也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
                <ul class="d-flex flex-column gap-5 ps-0 mb-0">
                  <li>
                    <a href="mailto:7tao.event@gmail.com"><i class="icofont-ui-email text-white bg-primary p-2 me-4"></i>7tao.event@gmail.com</a>
                  </li>
                  <li>
                    <a href="tel:+09123123123"><i class="icofont-phone text-white bg-primary p-2 me-4"></i>09123123123</a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/nan.nuowei?locale=zh_TW"><i class="icofont-facebook  text-white bg-primary p-2 me-4"></i>7TAO七逃</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card border border-2">
            <div class="card-header border-bottom border-2 pt-4">
              <h5 class="card-title fw-bold fs-6">#subscribe us</h5>
            </div>
            <form action="" class="flex-grow-1 d-flex flex-column">
              <div class="card-body">
                <p class="card-text mb-4">訂閱電子報送折價券！<br>定期精選文章資訊及最新優惠資訊，<br>還不通通給我訂閱起來？</p>
                <input type="email" class="form-control border border-2" placeholder="輸入Email">
              </div>
              <button type="submit" class="btn btn-primary w-100 align-self-bottom">確認訂閱<i class="icofont-double-right ms-1"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="container fw-bold text-center py-12 border-top border-3">
        <p class="fs-md pb-3">此刻打盹，你將做夢；此刻學習，你將圓夢</p>
        <p class="fs-sm">——我也不知道誰說的</p>
      </div>
    </main>

    <div class="d-none card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div>

    <!-- Modal 按鈕 -->
    <button type="button" class="d-none btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>

</html>
