<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>payment</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="container">
        <div class="step-wizard row row-cols-1 justify-content-center align-items-center my-6">
            <div class="col col-lg-6">
                <ul class="step-wizard-list noto-tc-serif ps-0">
                <li class="step-wizard-item fw-bold">
                    <span class="progress-count">
                    <i class="icofont-verification-check"></i>
                    </span>
                    <span class="progress-label">訂單確認</span>
                </li>
                <li class="step-wizard-item fw-bold active">
                    <span class="progress-count">
                    <i class="icofont-verification-check"></i>
                    </span>
                    <span class="progress-label">結帳付款</span>
                </li>
                <li class="step-wizard-item fw-bold">
                    <span class="progress-count">
                    <i class="icofont-verification-check"></i>
                    </span>
                    <span class="progress-label">訂購結果</span>
                </li>
                </ul>
                <h2 class="fw-bold mb-6 fs-lg-12 text-lg-center mb-lg-8">返老還童-制服聯誼</h2>
                <table class="table mb-8 mb-lg-12">
                    <tbody>
                        <tr class="noto-tc-serif border-0 border-top border-2">
                            <th scope="row" class="ps-0">訂單編號</th>
                            <td class="text-end pe-0">892746123</td>
                        </tr>
                        <tr class="noto-tc-serif">
                            <th scope="row" class="ps-0">票券</th>
                            <td class="text-end pe-0">改頭換面票（含大改造）$8000</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex flex-column align-items-center">
                    <img src="../assets/images/sparkler.png" class="img-fluid mb-4" alt="sparkler" style="width: 32px;">
                    <p class="fs-6 fw-bold">結帳資訊</p>
                </div>
            </div>
        </div>
        <form class="row row-cols-1 g-4 flex-column flex-nowrap align-items-center mb-12 needs-validation" action="./checkout.html" novalidate>
            <div class="col col-lg-6 noto-tc-serif">
                <div class="form-floating">
                    <input type="text" class="form-control fs-5" placeholder="請輸入身分證字號或護照號碼" name="inputTel" id="inputTel" pattern="[a-z0-9]" required>
                    <label for="inputTel" class="form-label mb-2">取票資訊</label>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please choose a username.</div>
                    <p class="fs-14px">請輸入您的 <span class="text-third">身分證字號</span> 供取票使用，外籍人士請輸入 <span class="text-third">護照號碼</span></p>
                </div>
            </div>
            <div class="col col-lg-6">
                <p class="mb-2">付款方式</p>
                <div class="col col-lg-6 form-check mb-2">
                    <input type="radio" name="flexRadioDefault" id="input-radio-pay01" class="form-check-input">
                    <label for="input-radio-pay01" class="form-check-label">信用卡</label>
                </div>
                <div class="col col-lg-6 form-check mb-2 noto-tc-serif">
                    <input type="radio" name="flexRadioDefault" id="input-radio-pay02" class="form-check-input">
                    <label for="input-radio-pay02" class="form-check-label">ATM虛擬帳號</label>
                </div>
            </div>
            <div class="col col-lg-6 col-lg-4 mt-lg-8">
                <button type="submit" class="btn btn-primary w-100">確認訂單並繳費$8000
                <i class="icofont-double-right ms-1"></i>
                </button>
            </div>
            <a href="./activity.html" class="fs-18px text-muted text-center">取消購票</a>
        </form>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>

    
  </body>
</html>
